body {
    background-color: #a7dfff;
}

.title-container {
    margin-bottom: 1%;
    padding-top: 1%;
    /* margin-top: 1%; */
    display: flex;
    justify-content: center;
}

.title-container label {
    font-size: xx-large;
    font-weight: bold;
}

.account-challenges {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;

    border-color: transparent;
    border-style: solid;
    border-radius: 20px;

    background-color: white;
}

.challenge {
    display: block;
    width: auto;

    margin: 2%;

    max-width: 300px;
}

.challenge-element {
    display: flex;
    width: inherit;
    justify-content: center;

    margin: 5px 0 5px 0;
}

.challenge-name {
    margin: auto;

    font-size: x-large;
    font-weight: bold;
}

.challenge-image {
    width: 100%;
    max-height: 168px;
    border-radius: 15px;
}

.challenge-button {
    width: 10em;

    border-radius: 10px;
    border-color: transparent;

    background-color:#5bbcf5;

    font-size: medium;
    font-weight: bold;
    color: white;

    transition: all .5s;
}

.challenge-button:hover {
    background-color: #7ecefc;
}

.challenge-button:active {
    background-color: #21acfc;
}

.challenge-score-container {
    display: flex;
    width: inherit;
    justify-content: center;
}

.challenge-score-container label {
    font-weight: bold;
}