body {
  background-color: #a7dfff;
}

.challenge-title {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  display: flex;
}

.questions-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.final-score-container {
    margin: auto;
    padding: 1em 2em 0 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    background-color: white;

    border-radius: 15px;

    width: 50%;
    height: fit-content;
}

.final-score-container div {
  display: contents;
  width: 100%;
}

.final-score-container div label {
  width: 100%;
  font-size: medium;
  margin-bottom: 1em;
}

.score {
  width: 100%;
  font-size: xx-large;
  text-align: center;
  margin-bottom: .5em;
}

.question{
    background-color: white;
    padding: 0 30px 10px 30px;

    border-radius: 15px;

    width: 50%;
    height: auto;
}

.question-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.question-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
.question-input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
.question-input input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
.question-input:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.question-input input:checked ~ .checkmark:after {
    display: block;
  }
  
.question-input .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }


  .question-nav-buttons-container {
    width: 50%;
    margin: auto;
    padding-top: 20px;
    justify-content: right;
    display: flex;
  }

  .question-nav-button {
    margin-left: 10px;
    width: 200px;
    height: 30px;

    font-size: large;

    border-radius: 15px;
    border-color: transparent;
    background-color: white;
  }