body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Oxygen Mono', monospace;
}

.header-container {
    background-image: url("../images/header.jpg");

    display: flex;

    width: 100%;
    height: 100px;
}

.header-title {
    font-size: xx-large;
    color: white;
    font-weight: bold;

    min-width: 458px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;

}

.buttons-container {
    display: flex;
    margin-left: auto;
}

.buttons-container div {
    display: flex;
    height: 98%;

    border-bottom: none;
    transition: all .2s;
}

.buttons-container div:hover{
    border-bottom: 2px solid white;
}

.nav-button {
    background-color: transparent;
    border-color: transparent;

    padding: 0 1em 0 1em;

    height: auto;

    color: white;
    font-size: x-large;
}

.nav-button:hover{
    color: rgb(192, 192, 192);
}

.nav-button:active{
    color: rgb(121, 192, 255);
}